<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="http://rafiisa.co/dinkes/css-js-dinas/images/logo-dinas.png">
    <title>Application</title>
    <!-- Bootstrap Core CSS -->
    <link href="http://rafiisa.co/dinkes/css-js-dinas/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://rafiisa.co/dinkes/css-js-dinas/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="http://rafiisa.co/dinkes/css-js-dinas/assets/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="http://rafiisa.co/dinkes/css-js-dinas/assets/css/style.min.css" rel="stylesheet">
                              
    <!-- color CSS -->
    <link href="http://rafiisa.co/dinkes/css-js-dinas/css-js-dinas/assets/css/colors/megna.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <section id="wrapper" class="login-register">
        <div class="login-box login-sidebar">
            <div class="white-box">
                <form class="form-horizontal form-material form-signin" id="loginform" method="post">
                    <a href="javascript:void(0)" class="text-center db"><img src="http://rafiisa.co/dinkes/images/user.png" alt="Home" width="150" /></a><br/>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p style="font-size:13pt;"><b>Application</b></p>
                        </div>
                    </div>
                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" name="email" placeholder="Username"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" name="password" placeholder="Password"> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <input class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" value="Log In">
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>&copy; copyright 2018</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="http://rafiisa.co/dinkes/css-js-dinas/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="http://rafiisa.co/dinkes/css-js-dinas/assets/bootstrap/dist/js/tether.min.js"></script>
    <script src="http://rafiisa.co/dinkes/css-js-dinas/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://rafiisa.co/dinkes/css-js-dinas/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="http://rafiisa.co/dinkes/css-js-dinas/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="http://rafiisa.co/dinkes/css-js-dinas/assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="http://rafiisa.co/dinkes/css-js-dinas/assets/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="http://rafiisa.co/dinkes/css-js-dinas/assets/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="http://rafiisa.co/dinkes/css-js-dinas/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>

       <script>
    $( ".form-signin" ).submit(function( event ) {
    $.ajax({ 
            type: 'POST', 
            url: '/api/v1/user-login', 
            data: $( ".form-signin" ).serialize(),
            dataType: 'json',
            success: function (data) 
            { 
                puttoken(data.token);
            },
            error : function(data)
            {
                alert("Invalid Username and Password.");
            }
     });
    event.preventDefault();
    });

    function puttoken(token)
    {
        $.ajax({ 
        type: 'GET', 
        url: '/admin/puttoken/'+token, 
        success: function (data) 
        { 
            alert("Login Success");
            window.location.href='/admin'
        },
        error : function(data)
        {
            alert("Login Failed!");
        }
     });
    }
    </script>
    
</body>

</html>